validation-xml/V3.6 Logical Data Model_CR/xlinkMISMOB371.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://www.w3.org/1999/xlink" 
            xmlns:xlink="http://www.w3.org/1999/xlink">

    <xsd:attributeGroup name="MISMOresourceLink">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="href" type="xsd:string"/>
        <xsd:attribute name="role" type="xsd:string"/>
        <xsd:attribute name="title" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="show" type="xsd:string"/>
        <xsd:attribute name="actuate" type="xsd:string"/>
        <xsd:attribute name="arcrole" type="xsd:string"/>
    </xsd:attributeGroup>

    <xsd:attributeGroup name="MISMOarcLink">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="href" type="xsd:string"/>
        <xsd:attribute name="role" type="xsd:string"/>
        <xsd:attribute name="title" type="xsd:string"/>
        <xsd:attribute name="label" type="xsd:string"/>
        <xsd:attribute name="show" type="xsd:string"/>
        <xsd:attribute name="actuate" type="xsd:string"/>
        <xsd:attribute name="arcrole" type="xsd:string"/>
        <xsd:attribute name="from" type="xsd:string"/>
        <xsd:attribute name="to" type="xsd:string"/>
    </xsd:attributeGroup>

</xsd:schema>
