validation-xml/V3.6 Logical Data Model_CR/xlinkMISMOB371.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/1999/xlink" xmlns:xlink="http://www.w3.org/1999/xlink">
    <xs:attributeGroup name="MISMOresourceLink">
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="href" type="xs:string"/>
        <xs:attribute name="role" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="label" type="xs:string"/>
        <xs:attribute name="show" type="xs:string"/>
        <xs:attribute name="actuate" type="xs:string"/>
        <xs:attribute name="arcrole" type="xs:string"/>
    </xs:attributeGroup>
</xs:schema>
